h1{
    border: none !important;
    text-align: left;
    margin: 5%;
}
.columns{
    margin:2%;
}
/* Blue Theme */
#blueOne{
    background-color: #564787;
    text-align: center;
    border: solid 1px white;
}
#blueTwo{
    background-color: #DBCBD8;
    text-align: center;
    border: solid 1px white;
}
#blueThree{
    background-color: #F2FDFF;
    text-align: center;
    border: solid 1px white;
}
#blueFour{
    background-color: #9AD4D6;
    text-align: center;
    border: solid 1px white;
}
#blueFive{
    background-color: #101935;
    text-align: center;
    border: solid 1px white;
}

/* Orange Highlight */

#ohOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#ohTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#ohThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#ohFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#ohFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}

/* Blue Grey */

#bgOne{
    background-color: #07020D;
    text-align: center;
    border: solid 1px white;
}
#bgTwo{
    background-color:#5DB7DE;
    text-align: center;
    border: solid 1px white;
}
#bgThree{
    background-color: #F1E9DB;
    text-align: center;
    border: solid 1px white;
}
#bgFour{
    background-color: #A39B8B;
    text-align: center;
    border: solid 1px white;
}
#bgFive{
    background-color: #716A5C;
    text-align: center;
    border: solid 1px white;
}

/* Forest Creature */
#fcOne{
    background-color: #7FB069;
    text-align: center;
    border: solid 1px white;
}
#fcTwo{
    background-color: #FFFBBD;
    text-align: center;
    border: solid 1px white;
}
#fcThree{
    background-color: #E6AA68;
    text-align: center;
    border: solid 1px white;
}
#fcFour{
    background-color: #CA3C25;
    text-align: center;
    border: solid 1px white;
}
#fcFive{
    background-color: #1D1A05;
    text-align: center;
    border: solid 1px white;
}

/* Blue Highlight */

#bhOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#bhTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#bhThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#bhFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#bhFive{
    background-color: #087E8B;
    text-align: center;
    border: solid 1px white;
}

/* Candy */

#caOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#caTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#caThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#caFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#caFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}

/* Modern */

#mOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#mTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#mThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#mFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#mFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}


/* Coffee Shop */

#coOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#coTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#coThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#coFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#coFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}

/* Yellow Highlight */

#yhOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#yhTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#yhThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#yhFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#yhFive{
    background-color: #E6AF2E;
    text-align: center;
    border: solid 1px white;
}

/* Primary */

#prOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#prTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#prThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#prFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#prFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}


/* Rose Garden */

#rgOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#rgTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#rgThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#rgFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#rgFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}


/* Fun */

#funOne{
    background-color: #3F3F37;
    text-align: center;
    border: solid 1px white;
}
#funTwo{
    background-color: #D6D6B1;
    text-align: center;
    border: solid 1px white;
}
#funThree{
    background-color: #494331;
    text-align: center;
    border: solid 1px white;
}
#funFour{
    background-color: #878472;
    text-align: center;
    border: solid 1px white;
}
#funFive{
    background-color: #DE541E;
    text-align: center;
    border: solid 1px white;
}

