.title{
    /* background-color: blueviolet; */
    color: blue !important;
    font-family: Arial;
    text-align: center;
}
.section{
    background-color: blueviolet;
    color: blue !important;
    font-family: Arial;
    text-align: center;  
}