
/* .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow:hidden;
} */
.footer{
  padding: 10px;
  margin-top: 10px;
}
/* Grid  */

.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;                  
  }
.cell{
  color: white;
 font-size: 3rem;
 text-align: center;
 padding: 4rem;
}

.cell-1{
background: deepskyblue;
}
.cell-2{
  background: orangered;
}
.cell-3{
  background: royalblue;
}
.cell-4{
  background: red;
}
.cell-5{
  background: green;
}
.cell-6{
  background: blueviolet;
}
.cell-7{
  background: coral;
}
.cell-8{
  background: lightseagreen;
}
.cell-9{
  background: maroon;
}
/* Hamburger */
.burger{
  display: none !important;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
@media only screen and (max-width:768px) {
  .burger {
      display: block !important;

  }
  .navbar-menu {
      display: none;
      position: absolute;
      top: 0;
  }
}

